<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSlaves">{{filterText}}</a>
      </h4>
    </div>
    <div id="collapseSlaves" class="panel-collapse collapse">
      <div class="panel-body">
        <button type="button" class="btn btn-default">All</button>
        <button type="button" class="btn btn-dark">None</button>
        <button *ngFor="let slave of slaves" type="button" class="btn btn-primary">{{slave.name}}</button>
      </div>
    </div>
  </div>
</div>
