<h2>Trial</h2>
 <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">{{loginFilterText}}</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
        <button type="button" class="btn btn-default">All</button>
        <button type="button" class="btn btn-dark">None</button>
        <button *ngFor="let login of logins" type="button" class="btn btn-primary">{{login.name}}</button>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">{{slaveFilterText}}</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="card card-body">
        <button type="button" class="btn btn-primary">All</button>
        <button type="button" class="btn btn-secondary">None</button>
        <button *ngFor="let slave of slaves" type="button" class="btn btn-default">{{slave.name}}</button>
      </div>
    </div>
  </div>
</div>

<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-primary">
    <input type="radio" name="options" id="option2" autocomplete="off"> Login-Selector
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="option3" autocomplete="off"> Slave-Selector
  </label>
</div>

<p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseLogins" aria-expanded="false" aria-controls="collapseLogins">Select Logins</button>
</p>
<div class="collapse" id="collapseLogins">
  <div class="card card-body">
    <button type="button" class="btn btn-default">All</button>
    <button type="button" class="btn btn-dark">None</button>
    <button type="button" class="btn btn-light" *ngFor="let login of logins">{{login.name}}</button>
  </div>
</div>
<p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseSlaves" aria-expanded="false" aria-controls="collapseSlaves">Select Slaves</button>
</p>
<div class="collapse" id="collapseSlaves">
  <div class="card card-body">
    <button type="button" class="btn btn-default">All</button>
    <button type="button" class="btn btn-dark">None</button>
    <button type="button" class="btn btn-default" *ngFor="let slave of slaves">{{slave.name}}</button>
  </div>
</div>

<div class="btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-warning active">
    <input type="checkbox" checked autocomplete="off"> Checked
  </label>
</div>

<h2>Heroes</h2>
<input [(ngModel)]="searchText" placeholder="search text goes here">
<ul class="heroes">
  <li *ngFor="let hero of heroes | filter : searchText">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span>{{hero.name}}
    </a>
  </li>
</ul>
